@{
    ViewBag.Title = "Experiencia";
}
<br />
<h3>@ViewBag.Message</h3>
<br />
<div class="jumbotron fondo textogeneral">
    <div class="row" style="margin:auto">
        <div class="col-md-10 ">
            <p><b>De 23/10/2017 a 10/03/2018 </b>(San Pedro – San José)</p>
            <p><b>Sykes Latin America: </b>Sector: Customer service and sales.</p>
            <p><b>Cargo ocupado: </b>Customer representative for AT&T.</p>
        </div>
        <div class="col-md-2 ">
            <img src="~/Pictures/sykes-logo-sqblue.png " class="img-responsive img-thumbnail"/>
        </div>
        
    </div>
    <hr />
    <div class="row" style="margin:auto">
        <div class="col-md-10 ">
            <p><b>De 15/01/2018 a 23/04/2018 </b>(San Pedro – San José)</p>
            <p><b>Parqueo público Barrio Luján21: </b>Sector: Desarrollo de software.</p>
            <p><b>Cargo ocupado: </b>Programador para un sistema de gestión empresarial.</p>
        </div>
        <div class="col-md-2 ">
            <img src="~/Pictures/logoLugan21.png" class="img-responsive img-thumbnail" />
        </div>
    </div>
</div>