
@{
    ViewBag.Title = "Estudios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h3>@ViewBag.Message</h3>
<br />
<div class="jumbotron fondo textogeneral">
    <div class="row" style="margin:auto">
        <div class="col-md-10 ">
            <p><b>Del 2010 a 2014 </b>(Labrador de San Mateo, Orotina)</p>
            <p><b>Titulo: </b>Bachiller en Educación media.</p>
            <p><b>Institución: </b>Liceo Rural de Labrador.</p>
        </div>
        <div class="col-md-2 ">
            <img src="~/Pictures/LABRADOR LOGO.jpg" class="img-responsive img-thumbnail" />
        </div>

    </div>
    <hr />
    <div class="row" style="margin:auto">
        <div class="col-md-10 ">
            <p><b>Del 2014 a 2016 </b>(Villa los reyes, Orotina)</p>
            <p><b>Titulo: </b>Ingles Conversacional.</p>
            <p><b>Institución: </b>Centro Cultural de Idiomas.</p>
        </div>
        <div class="col-md-2 ">
            <img src="~/Pictures/CENTRO CULTURAL DE IDIOMAS LOGO .jpg" class="img-responsive img-thumbnail" />
        </div>
    </div>
    <hr />
    <div class="row" style="margin:auto">
        <div class="col-md-10 ">
            <p><b>Del 2015 a la actualidad </b>(Tibás, San José)</p>
            <p><b>Titulo: </b>Bachiller en Ingeniería Informática.</p>
            <p><b>Institución: </b>Universidad Hispanoamericana.</p>
        </div>
        <div class="col-md-2 ">
            <img src="~/Pictures/Logo-UH.jpg" class="img-responsive img-thumbnail" />
        </div>
    </div>
</div>


